.test {
	font-size: 300%;
	margin: 0px 0px 0px 0px;
}

.info
{
	outline-style:solid;
	outline-color:rgb(0, 59, 0);
	padding:10px;
	margin:30px;
	background-color:rgb(6, 300, 80);
}

.states
{
	font-size:150%;
}

body
{
	background-color:lightblue;
}

